<% include partials/header %>

<div style="
padding-top:100px;
margin:0 auto;">

<div class="ui main text container segment" style="background:;">
    <div class="ui huge header" ><h1>BlogU</h1></div>
<div class="ui attached segment" style="background:">
<% blogs.forEach(function(blog){ %>

  <div class="ui unstackable items" style="background:;>
    <div class="item">
      <div class="image">
        <img src="<%=blog.image%>">
      </div>
      <div class="content">
        <a class="header"><%=blog.title%></a>
        <div class="meta">
          <span><%=blog.created.toDateString()%></span>
        </div>
        <div class="description" >
          <p><%=blog.body.substring(0,100)%>....</p>
        </div>
       <a class="ui violet basic button" href="/blogs/<%=blog._id %>">read more <i class="caret right icon"></i></a>
      </div>

    </div>
   <div class="ui fitted divider"></div>
<% }) %>
</div>
</div>
  </div>



<% include partials/footer %>
