<% include partials/header %>

<div style="
padding-top:100px;
margin:0 auto;">
<div class="ui main text container segment">
  <div class="ui huge header"><%=blog.title%></div>
  <div class="ui attached ">
    <div class="item">
      <img class="ui centered rounded image" src="<%=blog.image%>">
      <div class="content">
        <span><%=blog.created.toDateString() %></span>
      </div>
      <div class="description">
        <p><%-blog.body%></p>
        <form  class="ui form" action="/blogs/<%=blog._id%>/edit" method="post">
          <a  class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">Edit</a>
        </form>
        <form class="ui form" action="/blogs/<%=blog._id%>?_method=DELETE" method="post">
          <button class="ui red basic button">Delete</button>
        </form>

      </div>
    </div>
  </div>




</div>
</div>

<% include partials/footer %>
